{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Dashboard
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 cursor">
                {% for post in pagination %}
                    <div class="bg-white rounded p-3 my-3" onclick="window.location.href='{{ path('VerPosts', {id: post.id}) }}'">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <div class="post-header">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <!-- Icono SVG -->
                                            <svg class="icon" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <svg>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M24 0v24H0V0h24ZM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018Zm.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01l-.184-.092Z"/>
                                                        <path class="icono" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 9.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm9.758 7.484A7.985 7.985 0 0 1 12 20a7.985 7.985 0 0 1-6.258-3.016C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984Z"/>
                                                    </g>
                                                </svg>
                                            </svg>
                                        </div>
                                        <strong class="post-info">{{ post.name }}</strong> - {{ post.fecha_publicacion | date }}
                                    </div>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <h5>{{ post.titulo }}</h5>
                                    <div class="align-self-center">
                                        <p>{{ post.contenido }}</p>
                                    </div>
                                </div>
                                    <div class="align-self-center">
                                    <img class="rounded" src="{{ asset('uploads/photos/' ~ post.foto) }}" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                 <div class="col-md-4">
                <div class="bg-white rounded p-3 my-3">
                    <!-- Contenedor para el botón y el h4 -->
                    <div class="d-flex align-items-center mb-3">
                        <!-- Botón SVG -->
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path class="icono" d="M12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z"/>
                        </svg>
                        <!-- h4 Comentarios -->
                        <h4 class="ml-2">Tus comentarios</h4>
                    </div>
                    <ul>
                        {% for comentario in comentarios %}
                            <strong>{{ comentario.comentario }}</strong> - {{comentario.fechapublicacion | date }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
        </div>
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
